In [60]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

movies_data_raw = pd.read_csv(IMDB_movies)
rating_data_raw = pd.read_csv(IMDB_ratings)
names_data_raw = pd.read_csv(IMDB_names)
title_data_raw = pd.read_csv(IMDB_title)

IMDB_movies = "IMDb_movies.csv"
IMDB_ratings = "IMDb_ratings.csv"
IMDB_names = "IMDb_names.csv"
IMDB_title = "IMDb_title_principals.csv"

In [54]:
movies_data_raw.shape

(81273, 22)

In [69]:
movies_data_raw.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [72]:
# Delet budget and gross income in other currencies
IMDB_movies = IMDB_movies[~IMDB_movies['budget'].str.match(r'([A-Z]+)')]
IMDB_movies = IMDB_movies[~IMDB_movies['usa_gross_income'].str.match(r'($[A-Z]+\w)')]
IMDB_movies = IMDB_movies[~IMDB_movies['worlwide_gross_income'].str.match(r'($[A-Z]+\w)')]

# Delet '$' symbol from table
IMDB_movies['budget'] = IMDB_movies['budget'].str.replace('$','')
IMDB_movies['usa_gross_income'] = IMDB_movies['usa_gross_income'].str.replace('$','')
IMDB_movies['worlwide_gross_income'] = IMDB_movies['worlwide_gross_income'].str.replace('$','')

IMDB_movies = movies.reset_index(drop=True)

IMDB_movies

TypeError: string indices must be integers

In [44]:
IMDB_title = "IMDb_title_principals.csv"
title_data_raw = pd.read_csv(IMDB_movies)

In [10]:
title_data_raw.shape

(377848, 6)

In [62]:
title_data_raw.columns

Index(['imdb_title_id', 'ordering', 'imdb_name_id', 'category', 'job',
       'characters'],
      dtype='object')

In [30]:
title_data = title_data_raw.set_index(['imdb_title_id'])
title_data_reduced = title_data_raw[['imdb_title_id', 'ordering', 'category']]
title_data_reduced.head(20)

   imdb_title_id  ordering             category
0      tt0000574         1              actress
1      tt0000574         2                actor
2      tt0000574         3                actor
3      tt0000574         4              actress
4      tt0000574         5             director
5      tt0000574         6             producer
6      tt0000574         7             producer
7      tt0000574         8             producer
8      tt0000574         9             composer
9      tt0000574        10      cinematographer
10     tt0002130         1                actor
11     tt0002130         2                actor
12     tt0002130         3                actor
13     tt0002130         4                actor
14     tt0002130         5             director
15     tt0002130         6             director
16     tt0002130         7               writer
17     tt0002130         8             composer
18     tt0002130         9      cinematographer
19     tt0002130        10  production_designer

In [31]:
title_data= title_data_reduced.dropna(how='any')
title_data.count()

imdb_title_id    377848
ordering         377848
category         377848
dtype: int64